﻿@inherits LayoutComponentBase
@inject AppState AppState

<div class="auth-container">
    <h1>TECHNO Pet Shop</h1>
    @Body
    <NavLink href="/">
        Back to site
    </NavLink>
</div>




@code {
    
}
