﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <NavLink href="/admin/profile">
                    <span class="fa fa-user"></span> Profile
                </NavLink>
                <a href="" @onclick="Logout">
                    <span class="fa fa-power-off"></span> Logout
                </a>
            </Authorized>
            <NotAuthorized>
                <NavLink href="/auth/register">
                    <span class="fa fa-user-plus"></span> Register
                </NavLink>
                <NavLink href="/auth/login">
                    <span class="fa fa-sign-in"></span> Login
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <div class="content m-0">
        <div class="px-4">
            @Body
        </div>
    </div>

</div>
@if (AppState.IsLoading)
{
    <Loader></Loader>
}


