﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PetShop</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-globe mr-3" aria-hidden="true"></span>Public website
            </NavLink>
        </li>
        <AuthorizeView Roles="ADMIN">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                        <span class="fa fa-dashboard mr-3" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/animal">
                        <span class="fas fa-cat mr-3" aria-hidden="true"></span> Animals
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/breed">
                        <span class="fa fa-book mr-3" aria-hidden="true"></span> Breeds
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/pet">
                        <span class="fa fa-star mr-3" aria-hidden="true"></span> Pets
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/user">
                        <span class="fa fa-users mr-3" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
