﻿@inherits LayoutComponentBase
@inject AppState AppState

<div>
    <h3>CustomerLayout</h3>

    <AuthorizeView>
        <Authorized>
            Vous êtes connecté en tant que @context.User.Identity.Name
        </Authorized>
    </AuthorizeView>

    <p>Work in progress Customer Layout coming soon ;)</p>

    <NavLink href="/admin">This is a temporary link to Admin</NavLink>

    <div>
        @Body
    </div>
</div>


@code {

}
