﻿@page "/auth/register"
@layout AuthLayout
@inherits MasterComponentBase

<div class="card auth-form">
    <div class="card-header">
        <h3>Register</h3>
    </div>
    <div class="card-body">
        <EditForm Model="Model" OnValidSubmit="Send">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span class="fa fa-envelope"></span></span>
                    </div>
                    <InputText @bind-Value="Model.Email" type="Email" class="form-control" placeholder="Email" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span class="fa fa-lock"></span></span>
                    </div>
                    <InputText @bind-Value="Model.Password" type="password" class="form-control" placeholder="Password" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <InputText @bind-Value="Model.LastName" class="form-control" placeholder="Last Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <InputText @bind-Value="Model.FirstName" class="form-control" placeholder="First Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span class="fa fa-calendar"></span></span>
                    </div>
                    <InputDate @bind-Value="Model.BirthDate" class="form-control" />
                </div>
            </div>
            <div class="form-group text-right">
                <button class="btn btn-info">
                    Register
                </button>
            </div>
        </EditForm>
    </div>
</div>
<p class="my-1">OR</p>
<NavLink href="/auth/login">
    LOGIN
</NavLink>
