﻿@page "/admin/animal"
@inherits MasterComponentBase
@attribute [Authorize(Roles = "ADMIN")]

@if (Items != null)
{

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3>Animals</h3>
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#addAnimalModal">
                New
            </button>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <button class="btn btn-sm btn-outline-danger"
                                        @onclick="() => Remove(item)">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <BSModal Id="addAnimalModal" Title="New Animal">
        <EditForm Model="NewItem" OnValidSubmit="Add">
            <div class="modal-body">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label for="name" class="label-control">Animal Name</label>
                    <InputText id="name" class="form-control" @bind-Value="NewItem.Name" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-outline-primary">Save changes</button>
            </div>
        </EditForm>
    </BSModal>
}
