﻿@page "/admin/breed"
@inherits MasterComponentBase
@attribute [Authorize(Roles = "ADMIN")]

@if (Items != null)
{

    <div class="card">
        <div class="card-header" style="display: flex;justify-content:space-between">
            <h3>Breeds</h3>
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#addBreedModal">
                New
            </button>
        </div>
        <div class="card-body" id="accordion">
            @foreach (var group in Items.GroupBy(x => x.AnimalName).OrderBy(x => x.Key))
            {
                <div class="col">
                    <div class="card mb-1">
                        <div class="card-header d-flex justify-content-between" style="cursor: pointer" data-toggle="collapse" data-target="#group-@group.Key">
                            <h5>@group.Key</h5>
                            <span class="fa fa-caret-down"></span>
                        </div>
                        <div class="cars-body collapse" id="group-@group.Key" data-parent="#accordion">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Animal Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var breed in group)
                                    {
                                        <tr>
                                            <td>@breed.Name</td>
                                            <td>@breed.AnimalName</td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-danger"
                                                        @onclick="() => Remove(breed)">
                                                    <span class="fa fa-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    if (Animals != null)
    {
        <!-- Modal -->
        <BSModal Id="addBreedModal" Title="New Breed">
            <EditForm Model="NewItem" OnValidSubmit="Add">
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="name" class="label-control">Breed Name</label>
                        <InputText id="name" class="form-control" @bind-Value="NewItem.Name" />
                    </div>
                    <div class="form-group>">
                        <label for="animal-name" class="label-control">Animal</label>
                        <select id="animal-name" class="form-control" @bind="NewItem.AnimalId">
                            @foreach (var item in Animals)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-outline-primary">Save changes</button>
                </div>
            </EditForm>
        </BSModal>
        
        
    }
}
