﻿@page "/admin/pet"
@attribute [Authorize(Roles = "ADMIN")]
@inherits MasterComponentBase

@if (Items != null && PetStatuses != null && Animals != null && Breeds != null)
{
    <div class="card mb-1">
        <div class="card-header d-flex justify-content-between">
            <h3>Filters</h3>
            <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#pet-filters">
                <span class="fa fa-cog"></span>
            </button>
        </div>
        <div class="card-body collapse p-0" id="pet-filters">
            <EditForm Model="PetsFilter" OnSubmit="Filter">
                <div class="row p-3">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label class="label-control">Animal</label>
                            <select class="form-control" @bind="PetsFilter.AnimalId">
                                <option></option>
                                @foreach (var a in Animals)
                                {
                                    <option value="@a.Id">@a.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label class="label-control">Breed</label>
                            <select class="form-control" @bind="PetsFilter.BreedId">
                                <option></option>
                                @foreach (var b in Breeds.Where(b => b.AnimalId == PetsFilter.AnimalId || PetsFilter.AnimalId == null))
                                {
                                    <option value="@b.Id">@b.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label class="label-control">Status</label>
                            <select class="form-control" @bind="PetsFilter.PetStatusId">
                                <option></option>
                                @foreach (var p in PetStatuses)
                                {
                                    <option value="@p.Id">@p.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label class="label-control">Reference</label>
                            <input class="form-control" @bind="PetsFilter.ReferenceSearch">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group text-right">
                            <button class="btn btn-outline-primary">Filter</button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
    <div class="card mb-1">
        <div class="card-header d-flex justify-content-between">
            <h3>Pets</h3>
            <NavLink href="/admin/pet-edit/0" type="button" class="btn btn-outline-secondary">
                New
            </NavLink>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Reference</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Items.Results)
                    {
                        <PetRow Item="item"></PetRow>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
