﻿@page "/admin/pet-edit/{id:int}"
@inherits MasterComponentBase
@attribute [Authorize(Roles = "ADMIN")]

@if (Item != null)
{
    <div class="card">
        <div class="card-header">
            @Title
        </div>
        <div class="card-body">
            <EditForm Model="Item" OnValidSubmit="Send">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label for="reference" class="label-control">Reference</label>
                    <InputText id="reference" class="form-control" @bind-Value="Item.Reference" />
                </div>
                <div class="form-group">
                    <label class="label-control" for="birthdate">Birth Date</label>
                    <InputDate id="birthdate" class="form-control" @bind-Value="Item.BirthDate" />
                </div>
                <div class="form-group">
                    <label class="label-control" for="breed">Breed</label>
                    <InputNumber id="breed" class="form-control" @bind-Value="Item.BreedId" />
                </div>
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <InputCheckbox class="custom-control-input" id="vaccinated" @bind-Value="Item.Vaccinated" />
                        <label class="custom-control-label" for="vaccinated">Vaccinated</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="label-control">Description</label>
                    <InputTextArea id="description" class="form-control" @bind-Value="Item.Description" />
                </div>
                <div class="form-group">
                    <label for="image" class="label-control">Image</label>
                    <input hidden @ref=InputFile type="file" id="image" class="btn" @onchange="LoadFile" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-container" @onclick="ImageClick">
                                @if (Item.ImageUrl == null)
                                {
                                    <img @ref="Image" class="col-md-6 text-center" src="/images/default.png" />
                                }
                                else
                                {
                                    string imageUrl = "http://localhost:52769/api" + Item.ImageUrl;
                                    <img @ref="Image" class="col-md-6 text-center" src="@imageUrl" />
                                }
                            </div>
                        </div>
                        <div class="col-md-8 mt-2" style="display:flex;flex-direction:column-reverse;align-items:center">
                            <div class="m-1" @ref="CropperContainer"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-primary">Save changes</button>
                </div>
            </EditForm>
        </div>
    </div>
}
