﻿@inherits MasterComponentBase
    <tr class="petrow">
        <td>
            @if(Item.ImageUrl == null){
                <img src="/images/default.png"/>
            }else {
                string imageUrl = "http://localhost:52769/api" + Item.ImageUrl;
                <img src="@imageUrl"/>
            }
        </td>
        <td>
            <NavLink href="@UpdateHref">
                @Item.Reference
            </NavLink>
        </td>
        <td>
            <select class="form-control" @bind="@NewPetStatusId">
                @foreach (var status in PetStatuses)
                {
                    <option value="@status.Id">@status.Name</option>
                }
            </select>
        </td>
        <td class="text-right">
            @if (HasChanged)
            {
                <button class="btn btn-sm btn-outline-success"
                        @onclick="Save">
                    <span class="fa fa-check"></span>
                </button>
                <button class="btn btn-sm btn-outline-danger"
                        @onclick="Cancel">
                    <span class="fa fa-remove"></span>
                </button>
            }
            else
            {
                <NavLink href="@UpdateHref" class="btn btn-sm btn-outline-info">
                    <span class="fa fa-edit"></span>
                </NavLink>
                <button class="btn btn-sm btn-outline-danger"
                        @onclick="Remove">
                    <span class="fa fa-trash"></span>
                </button>
            }
        </td>
    </tr>